@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.tag{
  @apply rounded-[5px] py-1 px-[0.5rem] font-[500] text-[#7457df] border-none mx-1 text-[0.85rem]
}
.tip{
  @apply rounded-[100px] px-[10px] py-[2px] bg-[#EAFCEC] text-[#313134] text-[0.7rem]
}
.work {
  padding: 5px 16px 5px 16px;
}
.tech {
  color: rgb(255, 255, 255);
}

.toolbar {
  box-shadow: 0px 6px 19px 0px #6F788359;
}
.skills {
  color: rgb(145, 145, 145);
  border: 1px solid #d9d9d9;
}

.shiny-button {
  position: relative;
  border: none;
  overflow: hidden;
}

.shiny-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Initially offscreen */
  width: 100%;
  height: 200%;
  background: linear-gradient(
    135deg,
    transparent 10%,
    #fff 40%,
    transparent 90%
  );
  transition: left 0.4s ease;
  animation-name: slide;
  animation-duration: 2s;
  animation-direction: linear;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  } /* Slide completely through and offscreen to the right */
}
.badge {
  border: 1px solid #707071;
  @apply rounded-[100px] px-[10px] py-[2px] flex items-center justify-center text-[0.85rem] text-[#313134]
}
.visit {
  color: rgb(255, 255, 255);
}
.tags{
  @apply my-2
}

.bx-shadow {
  box-shadow: inset 0px 1px 0px 0px hsla(0, 0%, 100%, 0.03),
    inset 0px 0px 0px 1px hsla(0, 0%, 100%, 0.03),
    0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.1), 0px 8px 8px 0px rgba(0, 0, 0, 0.1);

  }

  .bx-shadow-light {
    box-shadow: 
      0px 1px 1px 0px rgba(0, 0, 0, 0.05),
      inset 0px 1px 1px 0px #fff,
      inset 0px 0px 0px 1px hsla(0, 0%, 100%, 0.1),
      0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  }